{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": "error"
  },
  "extends": [
    "plugin:react-hooks/recommended",
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
